[Tt]humbs.db
*.DS_Store

*.i
*.vsp

*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

[Bb]uild/
x86/

~$*


*.swp
*.swo


plan

UpgradeLog*.XML
_UpgradeReport_*
test.saved.mptm
